<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Uh Oh!</h1>
    <p class="splash-subhead">
      We didn't find that short url in our records! Let's start over:
      <%= link_to "Go Home", "/" %></p>
    </p>
  </div>
</div>
